<% layout('layouts/boilerplate') %>

<div class="edit-page">
  <div class="edit-card">
    <h1>Edit Listing</h1>

    <!-- ONLY ONE FORM -->
    <form method="post" action="/listings/<%= target._id %>?_method=PUT">

      <input
        type="text"
        name="title"
        value="<%= target.title %>"
        placeholder="Listing title"
        required
      />

      <textarea name="description" placeholder="Description" required><%= target.description %></textarea>

      <input
        type="text"
        name="imageUrl"
        value="<%= target.image.url %>"
        placeholder="Enter Image URL"
        required
      />

      <input
        type="number"
        name="price"
        value="<%= target.price %>"
        placeholder="Price per night (₹)"
        required
      />

      <input
        type="text"
        name="location"
        value="<%= target.location %>"
        placeholder="Location"
        required
      />

      <input
        type="text"
        name="country"
        value="<%= target.country %>"
        placeholder="Country"
        required
      />

      <!-- SAVE BUTTON MUST BE INSIDE FORM -->
      <div class="actions">
        <button type="submit" class="save-btn">Save Changes</button>
      </div>

    </form>

    <!-- SEPARATE FORM FOR BACK -->
    <form method="get" action="/listings">
      <div class="actions">
        <button  type="submit" class="back-btn">Back to Listings</button>
      </div>
    </form>

  </div>
</div>